body {
  --quad: 9vmin;
  --default-font-size: calc(var(--quad) * 0.45);
  --dark-color: rgb(0 0 0);
  --light-color: rgb(239 239 239);
  --blue-color: rgb(0 0 255);
  --red-color: rgb(255 0 0);
  --border-radius: 5px;

  font-family: monospace;
  font-weight: bold;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--default-font-size);
  display: flex;
  justify-content: center;
}

/* Since already using bold font across the app, make the strong element (used in PWAInstall be normal instead */
strong {
  font-weight: normal;
}

.app {
  height: 90vh; /* fallback if svh isn't handled */
  height: 98svh;
  width: 100vw;
}

#game, #gameOver, #rules {
  display: grid;
  grid-template-areas:
    "controlBar"
    "terminal"
    "board"
    "playerControls";
  grid-template-rows: auto 1fr auto calc(var(--quad) * 2.5);
  width: calc(var(--quad) * 10);
  justify-content: center;
  justify-items: center;
}

#home {
display: flex;
flex-direction: column;
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: var(--default-font-size);
  font-family: monospace;
  font-weight: bold;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  color: black;
  margin: 0;
  padding: 1px 6px;
}

/* Controls */

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controlBar;
  width: 100%;
  height: var(--quad);
  margin-bottom: 5px;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: calc(var(--quad) * 0.8);
  height: calc(var(--quad) * 0.8);
  background-color: transparent;
  padding: 1px 6px;
}

#newGameButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/new_game.svg");
}

#heartButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/heart.svg");
}

#rulesButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/question_mark.svg");
}

#installButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/install.svg");
}

#shareButton {
    background-image: url("@skedwards88/shared-components/src/images/icons/share.svg");

}

/* Heart */

.heart, .info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vmin;
}

.heart > *, .info > * {
  margin: 2vmax;
}

.heart a {
  color: rgb(0 162 255);
}

/* Board and Deck */

.square {
  width: var(--quad);
  height: var(--quad);
  color: white;
  white-space: nowrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px;
  background-origin: content-box;
  box-sizing: border-box;
  touch-action: none;
}

.moon {
  background-image: url("./images/icons/moon.svg");
}

.planet {
  background-image: url("./images/icons/planet.svg");
}

.star {
  background-image: url("./images/icons/star.svg");
}

.whirl {
  background-image: url("./images/icons/whirl.svg");
}

.square.offer {
  background-color: transparent;
}

.square.red {
  background-color: var(--red-color);
}

.square.blue {
  background-color: var(--blue-color);
}

.square.black {
  background-color: black;
}

.overlay.red {
  background-color: rgb(255 0 0 / 80%);
}

.overlay.blue {
  background-color: rgb(0 0 255 / 70%);
}

.overlay.black {
  background-color: rgb(0 0 0 / 80%);
}

.overlay.topRight {
  border: solid white;
  border-width: 2px 2px 0 0;
}

.overlay.bottomRight {
  border: solid white;
  border-width: 0 2px 2px 0;
}

.overlay.bottomLeft {
  border: solid white;
  border-width: 0 0 2px 2px;
}

.overlay.topLeft {
  border: solid white;
  border-width: 2px 0 0 2px;
}

#board {
  display: grid;
  grid-area: board;
  justify-items: center;
}

#board > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#played,
#overlay {
  display: grid;
  grid-template-columns: repeat(10, var(--quad));
  grid-template-rows: repeat(10, var(--quad));
  justify-content: center;
  border: 1px solid white;
  width: fit-content;
  align-self: center;
  touch-action: none;
}

#played {
  background-color: rgb(60 59 59);
}

#gameOverNewGame {
    grid-area: deck;
}

#deck,#deckRemaining {
  grid-area: deck;
  border: 2px solid white;
}

#deck {
  display: grid;
  grid-template-columns: repeat(2, var(--quad));
  grid-template-rows: repeat(2, var(--quad));
  justify-content: center;
  width: fit-content;
  align-self: center;
}

#deckRemaining {
  display: flex;
  width: calc(var(--quad) * 2);
  height: calc(var(--quad) * 2);
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
  background-color: black;
}

#playerScreen {
  grid-area: playerControls;
  display: grid;
  width: 100%;
}

/* required to show the sheen */
#playerScreen > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#sheen,#gameOverResult {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
      179deg,
      rgb(250 250 250 / 80%),
      rgb(250 250 250 / 0%) 20px
    ),
    linear-gradient(
      98deg,
      rgb(250 250 250 / 80%),
      rgb(250 250 250 / 0%) 5%
      );
}

#playerControls {
  display: grid;
  grid-template-areas:
    "endTurn deck endAndScore";
  grid-template-columns: 1fr auto 1fr;
  padding: 10px 0;
}

#playerControls.red, #announceScore.red {
  background-color: var(--red-color);
}

#playerControls.blue, #announceScore.blue {
  background-color: var(--blue-color);
}

#announceScore{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

#endTurn {
  grid-area: endTurn;
}

#endAndScore {
  grid-area: endAndScore;
}

#terminal {
  grid-area: terminal;
  white-space: pre-wrap;
  text-align: left;
  padding: 5px;
  width: 100%;
  height: 100%;
}

#rulesTerminal {
  grid-area: terminal;
  white-space: pre-wrap;
  text-align: left;
  margin: 5px;
}

#gameOverResult {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: calc(var(--default-font-size) * 1.5);
  flex-direction: column;
  justify-content: center;
}

#gameOverResult > * {
  margin: calc(0.5 * var(--quad));
}

#gameOverResult.red {
  background-color: var(--red-color);
}

#gameOverResult.blue {
  background-color: var(--blue-color);
}

#rulesBoardPlaceholder {
  grid-area: board;
  justify-items: center;
  height: calc(10 * var(--quad));
  width: calc(10 * var(--quad));
  background-color: rgb(60 59 59);
  border: 1px solid white;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ruleImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 15vh;
  min-width: 80vw;
}

.ruleImage#example_tile {
  background-image: url("./images/rules/example_tile.webp");
}

.ruleImage#symbols {
  background-image: url("./images/rules/symbols.webp");
}

.ruleImage#legal_moves {
  background-image: url("./images/rules/legal_moves.webp");
}

.ruleImage#example_sectors {
  background-image: url("./images/rules/example_sectors.webp");
}

#ruleButtons {
  display: grid;
  background-color: rgb(135 135 149);
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
}

#home > button {
  border-radius: 5px;
  border: 0;
  margin: 15px;
  color: white;
  height: calc(var(--quad) * 1.5);
  background-color: rgb(113 112 116);
  box-shadow:
    0 0 0.5rem #c2d4d7,
    inset 0 0 0.5rem #c2d4d7;
  text-shadow:
    0 0 5px #bac5c7,
    0 0 5px #bac5c7;
}

#ruleButtons > button,
#gameOver > button {
  border-radius: 5px;
  border: 0;
  margin: 5px;
  padding: 5px;
  color: white;
  height: calc(var(--quad) * 1.1);
  align-self: center;
  background-color: rgb(113 112 116);
  box-shadow:
    0 0 0.5rem #c2d4d7,
    inset 0 0 0.5rem #c2d4d7;
  text-shadow:
    0 0 5px #bac5c7,
    0 0 5px #bac5c7;
}

#playerControls > button, #announceScore > button {
  border-radius: 5px;
  border: 0;
  margin: 10px;
  padding: 5px 10px;
  color: white;
  height: calc(var(--quad) * 1.1);
  align-self: center;
  box-shadow:
    0 0 0.5rem rgb(123 123 123),
    inset 0 0 0.9rem rgb(47 47 47);
}

#playerControls.blue > button, #announceScore.blue > button {
  color: var(--blue-color);
}

#playerControls.red > button, #announceScore.red > button {
  color: var(--red-color);
}

#ruleButtons > button:disabled {
  color: rgb(225 223 223);
  touch-action: none;
  text-shadow: none;
  box-shadow: inset 0 0 0.5rem #000;
}

#playerControls > button:disabled {
  background-color: rgb(161 161 161);
  color: rgb(81 76 76);
  touch-action: none;
  text-shadow: none;
  box-shadow: inset 0 0 0.5rem #000;
}

#logo {
  align-self: center;
  width: 60%;
}

@keyframes spin {
  40% { transform: rotate(360deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-highlight {
  0% {
    background-color: white;
  }
}

.square.highlight {
  animation: fade-highlight 3s ease-out forwards;
}

#deck.spinning {
  animation: spin 4s linear infinite;
}

/* larger screens */
@media (height >= 600px) and (width >= 936px), (width >= 600px) and (height >= 936px) {
  body {
    --quad: 50px;
  }

  .app {
    width: calc(var(--quad) * 10);
  }
}
