html {
  height: 100vh;
}

body {
  --quad: 9vw;
  --default-font-size: calc(var(--quad) * 0.5);
  --dark-color: #000;
  --light-color: rgb(239 239 239);

  font-family: monospace;
  font-weight: bold;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url("./images/stars.svg");
  font-size: var(--default-font-size);
  display: flex;
  justify-content: center;
}

#app {
  height: 98vh;
  width: calc(var(--quad) * 10);
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-areas:
    "controls"
    "board"
    "subBoard";
  grid-template-rows: auto auto 1fr;
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: var(--default-font-size);
  font-family: monospace;
  font-weight: bold;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  color: black;
  margin: 0;
  padding: 1px 6px;
}

/* Controls */

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100%;
  height: 5vmax;
  margin-bottom: 5px;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: 4vmax;
  height: 4vmax;
  background-color: transparent;
  padding: 1px 6px;
}

#newGameButton {
  background-image: url("./images/new_game.svg");
}

#heartButton {
  background-image: url("./images/heart.svg");
}

#installButton {
  background-image: url("./images/install.svg");
}

.heart {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.heartText {
  margin: 2vmax;
}

.heart a {
  color: rgb(0 162 255);
}

.square {
  width: var(--quad);
  height: var(--quad);
  color: white;
  white-space: nowrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px;
  background-origin: content-box;
  box-sizing: border-box;
}

.moon {
  background-image: url("./images/moon.svg");
}

.planet {
  background-image: url("./images/planet.svg");
}

.star {
  background-image: url("./images/star.svg");
}

.whirl {
  background-image: url("./images/whirl.svg");
}

.square.offer {
  background-color: transparent;
}

.square.red {
  background-color: red;
}

.square.blue {
  background-color: blue;
}

.square.black {
  background-color: black;
}

.overlay {
  border: solid white;
}
.overlay.red {
  background-color: rgb(255 0 0 / 70%);
}

.overlay.blue {
  background-color: rgb(0 0 255 / 70%);
}

.overlay.black {
  background-color: rgb(0 0 0 / 70%);
}

.overlay.topRight {
  border-width: 2px 2px 0 0;
}
.overlay.bottomRight {
  border-width: 0 2px 2px 0;
}
.overlay.bottomLeft {
  border-width: 0 0 2px 2px;
}
.overlay.topLeft {
  border-width: 2px 0 0 2px;
}

#board {
  display: grid;
  grid-area: board;
  justify-items: center;
}

#board > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#played,
#overlay {
  display: grid;
  grid-template-columns: repeat(10, var(--quad));
  grid-template-rows: repeat(10, var(--quad));
  justify-content: center;
  border: 1px solid white;
  width: fit-content;
  align-self: center;
}

#played {
  background-color: rgb(60 59 59);
}

#deckAndRemaining {
  grid-area: deck;
  display: grid;
}

#deckAndRemaining > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#deck {
  display: grid;
  grid-template-columns: repeat(2, var(--quad));
  grid-template-rows: repeat(2, var(--quad));
  justify-content: center;
  border: 2px solid white;
  width: fit-content;
  align-self: center;
}

#deckRemaining {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
}

#deckRemaining.hidden {
  display: none;
}

#deck.hidden,
.hidden {
  border: 0;
}

#playerScreen {
  grid-area: subBoard;
  display: grid;
}

#playerScreen > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#sheen {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
      173deg,
      rgba(250, 250, 250, 0.8),
      rgba(250, 250, 250, 0) 5%
    ),
    linear-gradient(91deg, rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0) 5%);
  /* background: linear-gradient(180deg, rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0) 10%); */
  /* background: linear-gradient(135deg, rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0) 30%); */
  /* background: radial-gradient(
    ellipse farthest-corner at 90% 90%,
    rgba(43, 0, 255, 0) 60%,
    rgba(247, 248, 248, 0.7)
  ); */
}

#playerControls {
  display: grid;
  grid-template-areas:
    "endTurn deck endAndScore"
    "terminal terminal terminal";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
}

#playerControls.red {
  background-color: red;
}
#playerControls.blue {
  background-color: rgb(7, 7, 246);
}

#playerControls > button {
  border-radius: 5px;
  border: 0;
  margin: 5px;
  padding: 5px;
  color: white;
  height: calc(var(--quad) * 1.1);
  align-self: center;
}

#playerControls > button.blue {
  background-color: rgb(51, 0, 255);
  box-shadow:
    0 0 0.5rem #00ddfe,
    inset 0 0 0.5rem #00ddfe;
  text-shadow:
    0 0 5px #00ddfe,
    0 0 5px #00ddfe;
}

#playerControls > button.red {
  background-color: rgb(255, 0, 0);
  box-shadow:
    0 0 0.5rem #fefa00,
    inset 0 0 0.5rem #fefa00;
  font-weight: lighter;
  text-shadow: 0 0 5px #fefa00;
}

#playerControls > button:disabled {
  color: rgb(161, 161, 161);
  touch-action: none;
  box-shadow: none;
  text-shadow: none;
  box-shadow: inset 0 0 0.5rem #000;
}

#endTurn {
  grid-area: endTurn;
}

#endAndScore {
  grid-area: endAndScore;
}

#terminal {
  grid-area: terminal;
  white-space: pre-wrap;
  text-align: left;
  background-color: black;
  margin: 5px;
  padding: 15px;
}

#gameOver {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  font-size: calc(var(--default-font-size) * 1.7);
}

#gameOver.red {
  background: linear-gradient(rgba(255, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.2));
}

#gameOver.blue {
  background: linear-gradient(rgba(0, 0, 255, 0.6) 40%, rgba(0, 0, 0, 0.2));
}
